/* mobile narrow
  -------------------------------------------------------------------------- */

@media only screen and (max-width: 320px) { 
    .wrapper {
      width: 100%;
    }
    .wrapper-regisration {
      form {
          input[type="text"], input[type="password"] {
              width: 240px;
              height: 30px;
              font-size: 12px;
          }
          button {
              width: 80px;
              margin: 10px 0;
              font-size: 24px;
              letter-spacing: 0.8px;
              border-radius: 8px;
          }
      }
  }
  .wrapper-button {
    form {
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 240px) { 
  .wrapper {
    width: 100%;
  }
  .wrapper-regisration {
    form {
        input[type="text"], input[type="password"] {
            width: 180px;
            height: 30px;
            font-size: 10px;
            letter-spacing: 0.2px;
        }
        button {
            width: 80px;
            margin: 10px 0;
            font-size: 24px;
            letter-spacing: 0.8px;
            border-radius: 8px;
        }
    }
}
  .wrapper-button {
      justify-content: center;
      a {
        width: 124px;
        height: 30px;
        padding: 0 2px;
        line-height: 30px;
        letter-spacing: 0.4px;
        font-size: 12px;
        border-radius: 4px;
        margin: 4px 0;
      }
  }  
}