@font-face {
    font-family: Roboto;
    src: url('../Fonts/Roboto/Roboto-Regular.ttf') format(ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    background: rgb(241, 241, 241);
}
.wrapper {
    position: relative;
    max-width: 550px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(rgb(142, 228, 255), rgb(255, 255, 255));
    h1 {
        position: absolute;
        top: 0;
        font-size: 24px;
        font-weight: 200;
        text-transform: capitalize;
        letter-spacing: 0.8px;
        color: #aeaeae;
    }
    .person-info {
        width: 100%;
        height: auto;
        padding: 4px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: cover;
                
            }
        }
        .info {
            h3 {
                font-family: Roboto;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0.8px;
                color: #000;
                text-transform: capitalize;
            }
        }
    }
    p {
        color: #aeaeae;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        margin: 4px 12px;
        padding: 4px;
    }
}
.wrapper-regisration {
    width: 100%;
    height: auto;
    margin: 40px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    form {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="file"], input[type="submit"] {
            width: 90%;
            height: 30px;
            margin: 10px auto;
            padding: 15px 0;
            text-align: center;
            font-size: 14px;
            font-family: Roboto;
            font-weight: 400;
            letter-spacing: 0.8px;
            text-transform: capitalize;
            background: #FFFFFF;
            border: 3px solid #909090;
            border-radius: 18px;
        }
        input[type="checkbox"] {
            margin: 10px 0;
        }
        input[type="submit"] {
            text-align: center;
            line-height: 8px;
            background: #AEAEAE;
        }
        label {
            font-size: 14px;
            font-family: Roboto;
            font-weight: 400;
            text-transform: capitalize;
        }
        button, a {
            width: 120px;
            height: auto;
            margin: 10px 0;
            font-size: 36px;
            color: #AEAEAE;
            font-family: Roboto;
            font-weight: 600;
            text-transform: capitalize;
            letter-spacing: 0.8px;
            background: none;
            border-radius: 12px;
            border: 1px solid #AEAEAE;
            outline: none;
            transition: color, border .4s ease;
            &:hover {
                cursor: pointer;
                color: rgb(155, 155, 155);
                border: 1px solid rgb(155, 155, 155);
            }
        }
    }
    .form-info {
        position: relative;
        width: 100%;
        height: auto;
        input[type="file"] {
            visibility: hidden;
        }
        label {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            line-height: 30px;
            font-weight: 800;
            color: green;
            font-size: 18px;
        }
        .sending-photo {
            position: absolute;
            width: 90%;
            height: 30px;
            line-height: 24px;
            margin: 10px 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #000;
            border: 3px solid #909090;
            border-radius: 18px;
            background: #aeaeae;
            font-size: 14px;
            font-family: Roboto;
            font-weight: 400;
            letter-spacing: 0.8px;
            text-transform: capitalize;
            cursor: pointer;
            text-align: center;
        }
    }
    .icon-red {
        display: block;
        color: red;
    }
}
.wrapper-button {
    width: 100%;
    height: auto;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    a {
        width: 150px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        font-family: Roboto;
        font-weight: 500;
        letter-spacing: 0.8px;
        font-size: 18px;
        text-transform: capitalize;
        color: #000;
        background: linear-gradient(#67DBFF, rgba(255, 243, 243, 0));
        border-radius: 0px 8px 8px 0px;
        border: 1px solid #67DBFF;
        transition: all 0.2s ease;
        &:last-child {
            border-radius: 8px 0 0 8px;
        }
        &:hover {
            cursor: pointer;
        }
    }
}